<!doctype html>
<html>
  <head>
    <title>Donate Page</title>
    <link rel = "stylesheet" href = "final_project/css/style.css">
  </head>
  
  <body>
    <ul>
      <li><a href= "home.erb">HOME</a></li>
      <li><a href= "quiz.erb">QUIZ</a></li>
      <li><a href= "donate.erb">DONATE</a></li>
      <li><a href= "get_involved.erb">GET INVOLVED</a></li>
    </ul>
    <br>
    <h1>Donate</h1>
    <br>
    <p>Want to donate? Click on any of the charities below to learn more on how to donate and help the animals.</p> 
    <ul>
      <li><a href= "https://support.worldwildlife.org/site/SPageNavigator/donate_to_charity">World Wildlife Fund</a></li>
      <li><a href= "https://secure.defenders.org/site/SPageServer?pagename=wagc_homepage&s_src=3WEW1800XXXXX-6&s_subsrc=homepage-content-well">Denfenders of Wildlife</a></li>
      <li><a href= "https://donate.wildnet.org/">Wildlife Conservation Network</a></li>
      <li>For marine life:<a href= "https://netdonor.net/page/17238/donate/1"> Project AWARE</a></li>
      <li>For elephants:<a href= "https://elephantconservation.org/fundraising/donate/"> International Elephant Foundation</a></li>
      <li>For gorillas:<a href= "https://co.clickandpledge.com/advanced/default.aspx?wid=94181"> Gorilla Doctors</a></li>
      <li>For pandas:<a href= "https://www.pandasinternational.org/"> Pandas International</a></li>
      <li>For rhinoceroses:<a href= "https://rhinos.org/give/"> International Rhino Foundation</a></li>
      <li>For snow leopards:<a href= "https://www.snowleopard.org/donate/"> Snow Leopard Trust</a></li>
    </ul>
  </body>
</html>
