<!doctype html>
<html>
  <head>
    <title>Get Involved Page</title>
  </head>
  
  <body>
    <ul>
      <li><a href= "home.erb">HOME</a></li>
      <li><a href= "quiz.erb">QUIZ</a></li>
      <li><a href= "donate.erb">DONATE</a></li>
      <li><a href= "get_involved.erb">GET INVOLVED</a></li>
    </ul>
    <br>
    <h1>Get Involved</h1>
    <br>
    <p>Want more ways to get invovled?</p>
  </body>
</html>
