<!doctype html>
<html>
  <head>
    <title>Get Involved Page</title>
  </head>
  
  <body>
    <ul>
      <li><a href= "home.erb">HOME</a></li>
      <li><a href= "quiz.erb">QUIZ</a></li>
      <li><a href= "donate.erb">DONATE</a></li>
      <li><a href= "get_involved.erb">GET INVOLVED</a></li>
    </ul>
    <br>
    <h1>Get Involved</h1>
    <br>
    <p>Want more ways to get involved? Click on or reach out to any of these organizations to find out more:</p>
    <ul>
      <li>
        <a href = "https://www.wcs.org/get-involved">Wildlife Conservation Society (WCS)</a>
      <ul>
        <li>Address: 2300 Southern Boulevard Bronx, New York 10460</li>
        <li>Cell: +1718 220-5100</li>
      </ul>
      </li>
      <li>
        <a href = "https://www.worldwildlife.org/how-to-help">World Wildlife Fund (WWF)</a>
        <ul>
          <li>Address: 1250 24th Street, N.W Washington, DC 20037-1193</li>
          <li>Cell: 202-293-4800</li>
        </ul>
      </li>
      <li>
        <a href = "https://defenders.org/">Defenders of Wildlife</a>
        <ul>
          <li>Address: 1130 17th Street, NW Washington, DC 20036</li>
          <li>Cell: 1-800-385-9712</li>
        </ul>
      </li>
      <li>
        <a href = "https://wildnet.org/get-involved/">Wildlife Conservation Network (WCN)</a>
        <ul>
          <li>Address: 209 Mississippi Street. San Francisco, CA 94107</li>
          <li>Cell: 415-202-6380</li>
        </ul>
      </li>
    </ul>
    <br>
    <h3>Small things <ul style="list-style-type:disc">you can do to help make a big impact:</h3>
    <ul >
      <li>Learn about endangered species in your area.</li>
      <li>Visit a national wildlife refuge, park, or other open space.</li>
      <li>Make your home wildlife friendly.</li>
      <li>Herbicides and pesticides may keep yards looking nice but they are in fact hazardous pollutants that affect wildlife at many levels. Try to avoid using these products.</li>
      <li>Slow down when driving.</li>
      <li>Recycle and buy sustainable products.</li>
      <li>Never purchase products made from threatened or endangered species.</li>
      <li>Harassing wildlife is cruel and illegal.</li>
      <li>Protect wildlife habitats in your area.</li>
      <li>Volunteer your time to clean up the wildlife in your area.</li>
      <li>Make certain that your home is not a hazard to wildlife.</li>
      <li>Plant native flora.</li>
      <li>Reduce, reuse, recycle!</li>
      <li>Reduce water consumption.</li>
      <li>Reduce amount of pollution(try taking public transportation, biking, or walking instead of driving).</li>
      <li>Don’t buy plastic products or use plastic straws.</li>
      <li>Turn off lights around your house(reduce the energy used).</li>
      <li>Encourage others in your community to do the same!</li>
    </ul>
  </body>
</html>
