<!DOCTYPE html>
<html>
 <head>
   <title>Home</title>
 </head>
 <body>
  <ul>
    <li><a href= "home.erb">HOME</a></li>
    <li><a href= "quiz.erb">QUIZ</a></li>
    <li><a href= "donate.erb">DONATE</a></li>
    <li><a href= "get_involved.erb">GET INVOLVED</a></li>
  </ul>
  <br>
   <h1>Home</h1>
   
   <h2>About</h2>
   <h3>Stand4Wildlife is an application made by three teenage girls aiming to connect people to non-profits that support and spread awareness for varying kinds of wildlife. We want to raise awareness on our site through interactive quizzes, eye-opening statistics, and access to other non-profits that will allow people to donate and get involved.</h3>
 </body>
</html>
